[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
pymongo = "*"
bs4 = "*"
lxml = "*"
numpy = "*"
xlsxwriter = "*"

[requires]
python_version = "3.6"
